.lead__title{
  max-width: 720px;
  width: 100%;
  margin: 0 auto;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
}
@media screen and (max-width: 680px){
  .lead__title{
    font-size: 60px;
    line-height: 64px;
  }
}
@media screen and (max-width: 425px){
  .lead__title{
    max-width: 288px;
    font-size: 40px;
    line-height: 44px;
  }
}
